@import "variables/vars";

.main-controls {
    box-shadow: inset 0 $spacing_divider_bottom_1 $color_divider;
    background-color: $color_bg;
    width: 562px;
}
    .main-controls__select-all {
        float: left;
    }
        .main-controls__select-all-button {
            min-width: 58px;
            min-height: 66px;
            text-indent: $spacing_invisible;
            display: inline-block;
            border: none;
            background: url("../icons/select-all.svg") no-repeat 17px 26px;
        }

    .main-controls__create-new {
        display: flow-root;
    }
        .main-controls__create-new-input {
            color: $color_primary_text;
            min-height: 66px;
            width: 100%;
            font-size: $font_normal_24;
            box-sizing: border-box;
            padding-left: $spacing_small_4;
            padding-right: $spacing_small_4;
            border: none;
            background: none;
        }

        .main-controls__create-new-input::placeholder {
            color: $color_placeholder_text;
            font-style: italic;
        }