.todos__task-item {
    box-shadow: inset 0 -1px #E6E6E6;
    padding: 14px 12px;
    clear: both;
}
    .task-item__status {
        margin-right: 10px;
        width: 35px;
        height: 35px;
        appearance: none;
        -webkit-appearance: none;
        border: 1px gray solid;
        border-radius: 100px;
    }
        .task-item__status:checked {
            background: url("../icons/completed.png") no-repeat center;
            appearance: none;
            -webkit-appearance: none;
            width: 35px;
            height: 35px;
            border: 1px green solid;
            border-radius: 100px;
        }

    .task-item__text {
        color: #666;
        font-size: xx-large;
        border: 0;
        background: none;
    }

    .task-item__delete {
        text-indent: -9999px;
        background: url("../icons/close.png") no-repeat center;
        margin: 10px;
        width: 24px;
        height: 24px;
        border: none;
    }