.task-clear-completed {
    float: right;
    display: inline-block;
    border: none;
    background: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: medium;
    color: #888888;
}