@import "variables/vars";

.task-filter {
    display: inline-block;
}
    .task-filter__item {
        display: inline-block;
        border: none;
        background: none;
        margin-right: $spacing_filter_items_5;
    }

        .task-filter__input {
            position: absolute;
            left: $spacing_invisible;
        }

        .task-filter__text {
            cursor: pointer;
            padding: $spacing_tiny_2 $spacing_normal_8;
            border: solid $color_invisible $border_size_1;
            border-radius: 3px;
        }

        .task-filter__input:checked + .task-filter__text {
            border-color: $color_filter_checked;
        }