@import "variables/vars";

.task-clear-completed {
    display: inline-block;
    border: none;
    background: none;
    font-size: $font_small_14;
    color: $color_secondary_text;
    padding: $spacing_normal_8 0;
}