.todos-header {
    text-align: center;
    color: #ece2e2;
}
    .title {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 100px;
        font-weight: 100;
        margin: 0 auto;
        color: inherit;
    }