@import "variables/vars";

.todos {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 560px;
    min-width: 460px;
    position: relative;
}

    .todos:before {
        content: " ";
        position: absolute;
        top: 100%;
        height: $spacing_shadow_height_5;
        left: $spacing_tiny_2;
        right: $spacing_tiny_2;
        z-index: -1;
        background-color: $color_bg;
        box-shadow: 0 $spacing_tiny_2 $spacing_small_4 rgba(0, 0, 0, 0.2);
    }
    .todos:after {
        content: " ";
        position: absolute;
        top: 100%;
        height: $spacing_shadow_height_10;
        left: $spacing_small_4;
        right: $spacing_small_4;
        z-index: -2;
        background-color: $color_bg;
        box-shadow: 0 $spacing_tiny_2 $spacing_small_4 rgba(0, 0, 0, 0.2);
    }
        .todos__node {
            box-shadow: 0 $spacing_tiny_2 $spacing_small_4 rgba(0, 0, 0, 0.2);
            margin: 0 auto;
            clear: both;
            background: $color_bg;
        }