$spacing_invisible: -9999px;
$spacing_divider_top_1: 1px;
$spacing_divider_bottom_1: -1px;

$spacing_shadow_height_5: 5px;
$spacing_shadow_height_10: $spacing_shadow_height_5 * 2;
$spacing_filter_items_5: 5px;
$spacing_checkbox_10: 10px;

$spacing_tiny_2: 2px;
$spacing_slight_3: 3px;
$spacing_small_4: 4px;
$spacing_normal_8: 8px;
$spacing_large_12: 12px;

$border_size_1: 1px;